:root {
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;

  --font-color-primary: #000;
  --font-color-secondary: #565755;
  --font-color-tertiary: #fff;

  --bg-color-primary: #fff;
  --bg-color-secondary: #0891b2;

  --box-shadow: 0px 0px 21px 0px #0000004d;
  --drop-shadow: drop-shadow(0px 0px 21px #0000004d);
  --text-shadow: 0px 3px 7px #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  font-family: var(--font-roboto);
}

.container {
  display: grid;
  grid-template-rows: minmax(min-content, 90vh) 1fr minmax(min-content, 100vh);

  gap: 100px;
  padding: 50px 80px 0;

  position: relative;
}

.container::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 950px;

  background-color: var(--bg-color-secondary);

  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 100%);

  z-index: -1;
}

.header {
  display: flex;

  filter: var(--drop-shadow);
}

.header-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  max-height: fit-content;
}

.header-img {
  max-height: 90vh;
  box-shadow: var(--box-shadow);
}

.header-img-caption {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 54px;
  font-family: var(--font-playfair);

  color: var(--font-color-tertiary);

  text-shadow: var(--text-shadow);

  padding: 20px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 50px;
  margin: 60px 0;

  background-color: var(--bg-color-primary);
}

.about-text {
  font-size: 36px;

  color: var(--font-color-secondary);
}

.about-links {
  display: flex;
  justify-content: end;

  gap: 10px;

  height: 50px;
}

a.github-link {
  background-image: url(./assets/github.svg);
}

a.linkedin-link {
  background-image: url(./assets/linkedin.svg);
}

a.x-link {
  background-image: url(./assets/twitter-x.svg);
}

.main {
  display: flex;
  flex-direction: column;

  color: var(--font-color-primary);
}

.main-title {
  margin-bottom: 40px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;

  box-shadow: var(--box-shadow);

  max-height: min-content;
}

.card-img {
  max-width: 100%;
}

.card-info {
  padding: 30px 40px 50px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-links {
  display: flex;
  justify-content: end;

  gap: 10px;

  height: 50px;
}

a.external-link {
  background-image: url(./assets/external-link.svg);
}

.card-text {
  margin-top: 40px;

  color: var(--font-color-secondary);

  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;

  background-color: var(--bg-color-secondary);

  margin: 0 -80px;
  padding: 100px 80px 80px;

  color: var(--font-color-tertiary);
}

.footer-info {
  max-width: 30vw;
}

.footer-title {
  margin-bottom: 30px;
}

.footer-text {
  font-size: 36px;

  display: flex;
  flex-direction: column;

  gap: 40px;
}

.phone-contact,
.mail-contact {
  background-image: url(./assets/placeholder.svg);
  background-size: contain;
  background-repeat: no-repeat;

  padding-left: 60px;

  display: flex;
  align-items: center;
}

.phone-contact {
  background-image: url(./assets/telephone-white.svg);
}

.mail-contact {
  background-image: url(./assets/mail-white.svg);
}

.footer-links {
  margin-top: 60px;
}

.footer-img {
  min-width: 40vw;

  box-shadow: var(--box-shadow);
}

.footer .icon {
  width: 70px;
  height: 70px;
}

.title-primary {
  font-family: var(--font-playfair);
  font-size: 64px;
  font-weight: lighter;
}

.title-secondary {
  font-family: var(--font-playfair);
  font-size: 36px;
  font-weight: lighter;
}

.icon {
  background-image: url(./assets/placeholder.svg);
  background-size: cover;

  display: inline-block;

  width: 50px;
  height: 50px;
}
